body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #333333c1;
    color: white;
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2.5rem;
}

p {
    font-size: 1.2rem;
}


.form-section {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    width: 80%;
    margin-bottom: 10px;
    font-size: 1rem;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
}

button[type="submit"]:hover {
    background-color: #45a049;
}


.items-section {
    margin-top: 30px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li span {
    flex-grow: 1;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

button.done-btn {
    background: none;
    border: none;
    color: green;
    font-size: 1.2rem;
    cursor: pointer;
}

button.done-btn:hover {
    color: #004d00;
}

button.done-btn:disabled {
    color: gray;
    cursor: not-allowed;
}


li span[style="text-decoration: line-through;"] {
    color: #808080;
}


button.edit-btn, button.delete-btn {
    color: #007bff;
    font-size: 1.2rem;
    margin-left: 10px;
}

button.edit-btn:hover {
    color: #0056b3;
} 
